<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
<bean id="internalResourceViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- prefix 前缀 -->
		<property name="prefix" value="/"></property>
		<!-- prefix 后缀 -->
		<property name="suffix" value=".jsp"></property>
		<!-- prefix和suffix：查找视图页面的前缀和后缀（前缀[逻辑视图名]后缀），
		比如传进来的逻辑视图名为hello，
		则该该jsp视图页面应该存放在“hello.jsp”；
		 -->
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView"></property>
			<!-- 自动装载包 -->
	
	
	</bean>
	<context:component-scan base-package="cn.com.controller"></context:component-scan>
	<!-- 自动注册DefaultAnnotationHandlerMapping与AnnotationMethodHandlerAdapter 两个bean -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
				<!-- 静态资源处理 -->
	<mvc:resources location="/image/" mapping="/image/**" />
	<mvc:resources location="/js/" mapping="/js/**" />
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/images/" mapping="/images/**" />
	<mvc:resources location="/bootstrap/" mapping="/bootstrap/**" />
	<mvc:resources location="/datepicker/" mapping="/datepicker/**" />
	<mvc:resources location="/tepimages/" mapping="/tepimages/**" />
	
	
</beans>